<section class="contacts-list-container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name </th>
          <th>Phone</th>
          <th>Email</th>
          <th>Status</th>
          <th>Edit / Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{contact.firstName}}</td>
          <td>{{contact.lastName}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.status}}</td>
          <td class="edit-delete">
            <button class="btn btn-primary ">Edit</button>
            <span> | </span>
            <button class="btn btn-primary" (click)="openModal(content,contact.phone)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div><button class="btn btn-primary add-contact">Add Contact</button></div>
  </div>
  <!-- <app-contact-card ></app-contact-card> -->
  <div class="mobile-view-contacts-list">
    <ul class="list-group">
      <li *ngFor = "let contact of contacts" class="list-group-item">
        <div (click) = "openContact(contact)">
          <div class="contact-name">
            <span class="user-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <span >{{contact.firstName + " " + contact.lastName}}</span>
          </div>
          <div class="phone">
            <!-- <span class="phone-icon"><i class="fa fa-phone" aria-hidden="true"></i></span> -->
            <span>{{contact.phone}}</span>
          </div>
        </div>
      </li>
    </ul>
    <div class="fab"> + </div>
  </div>
  <!--delete confirmation modal -->
  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         Delete Contact ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('confirm')">Confirm</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel')">cancel</button>
      </div>
    </ng-template>
    
</section>