<div class="card">
  <div class="card-header">
    <span>{{contact.firstName + " " + contact.lastName}}</span>
    <div ngbDropdown class="d-inline-block">
        <i class="fa fa-ellipsis-v" id="dropdownBasic1" ngbDropdownToggle></i>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Edit</button>
          <button class="dropdown-item">Delete</button>
        </div>
      </div>
  </div>
  <div class="card-body">
    <div class="phone"> 
      <span class="phone-icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
      <span>{{contact.phone}}</span>
    </div>
    <div class="email"> 
      <span class="email-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
      <span>{{contact.email}}</span>
    </div>
    <div [ngClass]="{'badge':true,'badge-primary':contactActive,'badge-secondary' : !contactActive}"> {{contact.status}}</div>
  </div>
</div>